:root {
  --color: #444444;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgba(0, 0, 0, 0.6);
  --textwhite: #fffafa;
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  /* min-height: 20vh !important; */
  background-color: var(--textwhite);
  overflow-x: hidden;
  /* min-height: 4000px; */
}

/* Mencegah scroll saat splash muncul */
.no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* Splash overlay di luar */
.splash-screen {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
  z-index: 9998;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 2rem; */
}

/* Card popup di tengah */
.popup-card {
  position: relative;
  width: 100%;
  /* max-width: 590vw; */
  min-height: 750px; /* atau atur sesuai kebutuhan */
  display: flex;
  flex-direction: column;
  justify-content: center; /* ini penting untuk vertikal tengah */
  align-items: center;
  /* border-radius: 25px; */
  overflow: hidden;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.popup-card main {
  font-family: "Playwrite DE Grund", cursive;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 3rem 2rem;
  color: #e5e2cf;
  text-align: center;

  /* pastikan ini */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* Gambar background di dalam card */
.card-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
}

.card-bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  /* filter: brightness(0.8); */
}

.popup-card h1 {
  font-size: 2rem;
  text-shadow: var(--shadow);
  margin: 1rem 0;
  font-weight: bold;
}

.popup-card h4,
.popup-card p {
  text-shadow: var(--shadow);
  font-size: 1.5rem;
  margin: 1rem 0;
}

.popup-card p {
  font-size: 1.7rem;
}

.popup-card a {
  color: var(--color);
  background-color: #e5e2cf;
  padding: 0.7rem 1.2rem;
  margin-top: 1rem;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: var(--shadow);
  transition: all 0.3s ease-in-out;
}

.popup-card a:hover {
  background: linear-gradient(135deg, #2a2a2a, #4a4a5a, #5c5c70);
  color: #e5e2cf;
  box-shadow: 0 0 8px #4a4a5a, 0 0 15px #5c5c70;
}

.popup-card {
  animation: slideDownFade 1.5s ease-out;
}

@keyframes slideDownFade {
  0% {
    transform: translateY(-550px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes boomOut {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: scale(1.5) rotate(15deg);
    opacity: 0.8;
  }
  100% {
    transform: scale(0.7) rotate(-15deg);
    opacity: 0;
  }
}

/* Saat tombol diklik, tambahkan kelas ini ke popup-card */
.popup-card.boom-out {
  animation: boomOut 1s ease forwards;
}

@keyframes overlayFadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash-screen.hide {
  animation: overlayFadeOut 0.8s ease 0.4s forwards;
}

.judul-text {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  text-align: center;
}

.judul-text h2 {
  font-size: 2rem;
  white-space: nowrap;
}

.judul-text h1 {
  font-size: 2rem;
  white-space: nowrap;
  font-weight: bold;
}

.judul-text p {
  font-size: 1.3rem !important;
  white-space: nowrap;
  margin-top: 2rem;
}

.isi-text {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.4) !important ;
  /* backdrop-filter: blur(4px); */
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Playwrite DE Grund", cursive;
  font-size: 3.2rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  text-transform: uppercase;
}

.hero {
  font-family: "Playwrite DE Grund", cursive;
  color: var(--textwhite);
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 2rem; */
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(img/avatar4.jpg) !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  z-index: -1;
}

.hero > * {
  position: relative;
  z-index: 1;
}

.hero h1,
.hero h2,
.hero h3 {
  text-shadow: var(--shadow);
  margin: 1rem 0;
  max-width: 90vw;
  word-wrap: break-word;
}

.hero h2 {
  font-size: 5rem;
  font-weight: bold;
}

.hero h1 {
  font-size: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.hero h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.home {
  /* position: relative; */
  background-image: url("img/home1.png");
  background-size: cover;
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  min-height: 100vh;
  margin-top: -6rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
  color: var(--color);
  font-family: "Playwrite DE Grund", cursive;
  /* overflow: hidden;  */
}

.home h2,
.wedding-gift h2,
.wedding-rsvp h2 {
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-weight: bold;
  font-family: "Playwrite DE Grund", cursive;
}

.home h3 {
  font-size: 1.333rem;
  margin-bottom: 8rem;
  /* font-weight: bold; */
}

.home h4 {
  font-size: 1.667rem;
  font-weight: bold;
  white-space: nowrap;
  /* padding-top: 1rem; */
}

.user-groom {
  font-size: 5rem;
  font-family: "Mr De Haviland", cursive;
  font-weight: bold;
}

.parents {
  padding-top: 1rem;
  font-size: 1.333rem;
}

.couple .img-syahar {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  /* padding-right: 20px; */
}

.couple .syahar-4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0;
  padding-right: 10px;
}

.couple .syahar-8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0;
}

.couple .img-sjahrani {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

.couple .sjahrani-4 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 10px;
  padding-right: 0;
  /* margin-top: 55px; */
}

.couple .sjahrani-8 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

.syahar-4 {
  position: relative;
  text-align: center;
}

.syahar-4::before {
  content: "The Groom";
  position: absolute;
  top: -20px;
  left: 0;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 3rem;
  color: var(--textwhite);
  text-shadow: var(--shadow);
  white-space: nowrap;
}

.sjahrani-4 {
  position: relative;
  text-align: center;
}

.sjahrani-4::before {
  content: "The Bride";
  position: absolute;
  top: -20px;
  left: 90%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 3rem;
  color: var(--textwhite);
  text-shadow: var(--shadow);
  white-space: nowrap;
}

.home .heart {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}

.home .heart i {
  margin: auto;
  color: var(--color);
}

.wedding-event,
.wedding-rsvp {
  background-color: var(--color);
  color: var(--textwhite);
  padding-top: 10rem;
  min-height: 100vh;
  padding-bottom: 5rem;
  font-family: "Playwrite DE Grund", cursive;
  /* padding-bottom: 8rem; */
  /* margin-top: -6rem; */
}

.wedding-event h2 {
  color: var(--textwhite);
  font-size: 3rem;
  /* margin-top: 4rem; */
  margin-bottom: 3rem;
  font-weight: bold;
}

.wedding-event p {
  font-weight: bold;
  font-size: 1.333rem;
}

/* styling */
.event-card-wrapper {
  background: url("img/border1-removebg-preview.png") center/contain no-repeat;
  background-size: 100% 100%;
  padding: 10rem 2rem;
  max-width: 100% !important;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem; /* jarak antar Akad dan Resepsi */
  border: none; /* pastikan tidak ada border tambahan */
}

.separator {
  width: 85%; /* Turunkan dari 90% ke 85% */
  max-width: 100%; /* Kecilkan max-width */
  background-color: rgba(193, 178, 163, 0.1);
  padding: 0.6rem 2rem;
  margin: auto;
  margin-top: 2.8rem; /* lebih dekat ke atas */
  margin-bottom: 1.8rem; /* sedikit lebih dekat ke bawah */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mr De Haviland", cursive;
  font-size: 3rem;
  color: var(--textwhite);
}
/* Akhir styling */

/* Bulatan angka */
/* .event-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  color: white;
} */

.event-date .date-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: #c1b2a3; /* warna krem */
  color: white;
  /* font-size: 2rem; */
  font-weight: bold;
  border-radius: 50%;
  margin: 0.5rem 0; /* jarak atas bawah supaya ada ruang */
}

.gmaps-btn {
  background: linear-gradient(135deg, #4285f4, #34a853); /* biru ke hijau */
  color: #fff;
  padding: 0.7rem 1.2rem;
  margin-top: 1rem;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: var(--shadow);
  transition: all 0.3s ease-in-out;
}

.gmaps-btn:hover {
  background: linear-gradient(135deg, #2a2a2a, #4a4a5a, #5c5c70);
  color: #e5e2cf;
  box-shadow: 0 0 8px #4a4a5a, 0 0 15px #5c5c70;
}

.font-wrap {
  position: relative;
  display: inline-block;
  padding-bottom: 1rem; /* beri ruang agar Event gak nempel ke bawah */
}

.font-judul {
  font-size: 3rem;
  font-weight: 700;
  color: #ffffff;
  display: inline-block;
  font-family: "Playwrite DE Grund", cursive;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
}

.font-subjudul {
  font-family: "Mr De Haviland", cursive;
  font-size: 3rem;
  color: var(--textwhite);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(0.2rem);
  opacity: 0.85;
  white-space: nowrap;
  pointer-events: none;
}

.wedding-gift {
  background-image: url("img/home1.png");
  background-size: cover;
  margin-top: -6rem;
  padding-top: 10rem;
  padding-bottom: 5rem;
  color: var(--color);
  font-family: "Playwrite DE Grund", cursive;
  /* overflow: hidden;  */
}

.font-judul-gift {
  font-size: 3rem;
  font-weight: 700;
  display: inline-block;
  font-family: "Playwrite DE Grund", cursive;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  position: relative;
}

.font-subjudul-gift {
  font-family: "Mr De Haviland", cursive;
  font-size: 3rem;
  position: absolute;
  top: 100%;
  left: 95%;
  transform: translateX(-50%) translateY(0.2rem);
  opacity: 0.85;
  white-space: nowrap;
  pointer-events: none;
  letter-spacing: 7px;
  /* padding-top: -5rem; */
}

.wedding-gift p {
  padding-top: 4rem;
  font-size: 1.333rem;
}

.atm-card {
  background: url("img/atm-card-removebg-preview.png") center/contain no-repeat;
  background-size: 160% 110%;
  padding: 10rem 2rem;
  max-width: 100% !important;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none; /* pastikan tidak ada border tambahan */
  margin-top: -20px !important;
  position: relative;
}

.bank-logo {
  position: absolute;
  top: 64px; /* jarak dari atas */
  left: 40px; /* jarak dari kiri */
  width: 110px; /* ukuran logo */
  height: auto;
}

.bank-logo img {
  width: 100%;
  height: auto;
}

.atm-date {
  color: var(--textwhite);
  font-size: 1rem !important;
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin-top: -25px !important;
  margin-bottom: 15px;
  margin-left: 10px;
  text-shadow: rgba(0, 0, 0, 0.85);
}
.norek {
  text-decoration: none !important;
  color: var(--textwhite) !important;
  font-size: 1.333rem;
  font-weight: bold;
  letter-spacing: 0.4rem;
  margin-top: -40px;
  margin-left: 10px;
  -webkit-user-modify: read-only !important;
  -webkit-touch-callout: none !important;
  -webkit-text-decoration-skip: none !important;
  -webkit-tap-highlight-color: transparent !important;
  /* Tambahan fix */
  user-select: text;
  pointer-events: none; /* Nonaktifkan klik kalau dia auto-link */
}
.nama-rek {
  color: var(--textwhite);
  font-size: 1.555rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  white-space: nowrap;
  margin-top: -35px;
  margin-left: 10px;
}

.copy-btn-wrapper {
  text-align: right;
  margin-top: 20px;
}

.copy-btn-wrapper a {
  background: linear-gradient(135deg, #4285f4, #34a853); /* biru ke hijau */
  color: var(--textwhite) !important;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  font-size: 1.555rem;
  cursor: pointer;
  text-decoration: none !important;
  border-radius: 5px;
  box-shadow: var(--shadow);
  transition: all 0.3s ease-in-out;
  padding: 0.4rem 1.5rem;
  margin-right: 21px;
}

.copy-btn-wrapper a:hover {
  background: linear-gradient(135deg, #2a2a2a, #4a4a5a, #5c5c70);
  color: #e5e2cf;
  box-shadow: 0 0 8px #4a4a5a, 0 0 15px #5c5c70;
}

.wishes {
  position: relative;
}

.wishes::before {
  content: "";
  background-image: url("img/floral-hope-removebg-preview.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 80px; /* Ukuran gambar */
  height: 80px;
  position: absolute;
  top: -5px; /* Jarak dari atas section */
  left: 50%;
  transform: translateX(-50%);
  /* padding-top: 15rem; */
}

/* Wishes Card */
.wishes-card {
  background-image: url("img/home9.jpg"); /* Ganti dengan path gambar kamu */
  background-size: cover;
  background-position: center;
  /* padding: 30px 20px; */
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  width: 95vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  /* max-width: 100%; */
}

/* Overlay untuk membuat form lebih jelas */
.wishes-card-overlay {
  /* background-color: rgba(255, 255, 255, 0.85); */
  padding: 20px;
  border-radius: 10px;
}

.wishes-card p {
  color: var(--color);
  font-weight: bold;
  font-size: 1.333rem;
  /* margin-top: -5rem; */
}

hr {
  color: var(--color);
}

.card {
  border-radius: 8px !important; /* Menggunakan !important untuk memastikan diterapkan */
  overflow: hidden; /* Untuk mencegah konten card keluar dari border-radius */
  color: var(--textwhite);
  text-shadow: var(--shadow);
}

.hadir {
  background: linear-gradient(
    to right,
    #4caf50,
    #81c784
  ); /* Gradasi hijau kalem */
}

.tidak-hadir {
  background: linear-gradient(
    to right,
    #f44336,
    #e57373
  ); /* Gradasi merah kalem */
}

.hadir p {
  color: var(--textwhite);
  font-weight: normal;
  font-size: 1.333rem;
  padding-top: 0.5rem;
}

.tidak-hadir p {
  color: var(--textwhite);
  font-weight: normal;
  font-size: 1.333rem;
  padding-top: 0.5rem;
}

/* Form Style */
.wishes-form .form-group {
  margin-bottom: 15px;
  text-align: left;
}

.wishes-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.wishes-form input,
.wishes-form textarea,
.wishes-form select {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  font-size: 1.777rem;
}

.wishes-form textarea {
  resize: none;
}

.submit-btn {
  color: var(--color);
  background-color: #e5e2cf;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  font-size: 1.555rem;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: var(--shadow);
  transition: all 0.3s ease-in-out;
  /* padding: 0.7rem 1.2rem; */
  /* margin-top: 1rem; */
}

.submit-btn:hover {
  background: linear-gradient(135deg, #2a2a2a, #4a4a5a, #5c5c70);
  color: #e5e2cf;
  box-shadow: 0 0 8px #4a4a5a, 0 0 15px #5c5c70;
}

.comments-section {
  margin-top: 20px;
}

.comments-list {
  max-height: 225px; /* kira-kira untuk 5 komentar */
  overflow-y: auto;
  padding: 10px;
  /* background: #ffffff; */
  border: 1px solid #ccc;
  border-radius: 8px;
}

.comment-item {
  margin-bottom: 15px;
  text-align: left;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.comment-item strong {
  display: block;
  color: #333;
  font-size: 1.667rem;
}

.comment-item p {
  margin: 5px 0 0 0;
  font-size: 1.555rem;
  color: #666;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 10px;
}

.pagination-btn {
  color: var(--color);
  background-color: #e5e2cf;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 1.667rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination-btn:hover {
  background: linear-gradient(135deg, #2a2a2a, #4a4a5a, #5c5c70);
  color: #e5e2cf;
}

footer {
  padding: 3rem;
  background-color: var(--bg);
  color: var(--textwhite);
  font-family: "Playwrite DE Grund", cursive;
  font-weight: bold;
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: var(--textwhite);
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  z-index: 6;
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

[data-aos] {
  transition-property: opacity, transform !important;
  transition-duration: 0.6s;
  transition-timing-function: ease-out;
  will-change: opacity, transform !important;
  backface-visibility: hidden;
  /* transform: none !important; */
}

[data-aos^="fade"][data-aos][data-aos][data-aos] {
  transform: translate(0, 1) !important;
}

/* === RESPONSIVE === */

/* Laptop */
@media (max-width: 1024px) {
  html {
    font-size: 75%;
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/avatar4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
  }

  .judul-text p {
    font-size: 1.5rem !important;
    white-space: nowrap;
    margin-top: 4rem;
  }

  .isi-text {
    position: absolute;
    bottom: 7rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
  }

  .popup-card {
    min-height: 51.67rem !important;
  }

  .popup-card h1 {
    font-size: 2.667rem !important;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    font-weight: bold;
    white-space: nowrap;
    /* overflow-x: hidden; */
  }

  .popup-card h2 {
    font-size: 1.5rem !important;
  }

  .popup-card h3 {
    font-size: 2rem;
    font-weight: bold;
  }

  .popup-card h4 {
    font-size: 1.333rem;
  }

  /* .popup-card h3 {
    font-size: 1.5rem !important;
  } */

  .popup-card p {
    font-size: 1.333rem !important;
    font-weight: bold;
  }

  .hero h1 {
    font-size: 2.73rem;
    /* margin-top: 23rem; */
    font-weight: bold;
  }

  .hero h2 {
    font-size: 2.27rem;
    /* margin-top: 10rem; */
    font-weight: bold;
  }

  .hero h3 {
    font-size: 1.59rem;
    /* margin-top: 4rem;
    margin-bottom: 4rem; */
  }

  .hero-text {
    font-size: 1.5rem !important;
    white-space: nowrap;
    margin-top: -25rem;
  }

  .hero::before {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 47.1% !important;
  }

  .hero-countdown {
    width: 100%;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
  }

  .countdown-glass {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; /* pastikan konten tetap di atas */
    overflow: hidden; /* pastikan ::before tetap di dalam kotak */
    padding-bottom: 4rem;
    /* width: fit-content;
    margin-left: auto;
    margin-right: auto; */
  }

  .countdown-glass::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0; /* blur di belakang konten */
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    background: rgba(255, 255, 255, 0.1); /* buat glassy look */
    pointer-events: none;

    /* Ini gradasi blur makin hilang ke atas */
    mask-image: linear-gradient(to top, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to top, black 60%, transparent 100%);
  }

  .countdown-glass > * {
    position: relative;
    z-index: 1; /* konten tetap di atas blur */
  }

  .arti {
    /* padding: 35px 35px; */
    padding-top: 1.14rem;
    padding-left: 3.98rem;
    padding-right: 3.98rem;
    font-size: 1.36rem;
    text-shadow: var(--shadow);
    /* text-align: center; */
  }

  .qs {
    padding-top: 2.73rem;
    padding-bottom: 5.45rem;
    font-size: 1.36rem;
    font-style: italic;
  }

  .simply-countdown-cyber > .simply-section {
    padding: 60px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .simply-countdown-cyber .simply-amount {
    font-size: 3.7rem !important; /* diperbesar */
  }

  .simply-countdown-cyber .simply-word {
    font-size: 1.6rem !important; /* diperbesar */
  }
}

@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/avatar4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
  }

  .judul-text p {
    font-size: 1.5rem !important;
    white-space: nowrap;
    margin-top: 4rem;
  }

  .isi-text {
    position: absolute;
    bottom: 7rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
  }

  .popup-card h1 {
    font-size: 2.667rem !important;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    font-weight: bold;
    white-space: nowrap;
    /* overflow-x: hidden; */
  }

  .popup-card h3 {
    font-size: 2rem;
    white-space: nowrap;
    font-weight: bold;
  }

  .popup-card h4 {
    font-size: 1.5rem;
  }

  .popup-card p {
    font-size: 1.5rem !important;
    font-weight: bold;
  }

  .hero h1 {
    font-size: 2.73rem;
    /* margin-top: 23rem; */
    font-weight: bold;
  }

  .hero h2 {
    font-size: 2.27rem;
    /* margin-top: 10rem; */
    font-weight: bold;
  }

  .hero h3 {
    font-size: 1.59rem;
    /* margin-top: 4rem;
    margin-bottom: 4rem; */
  }

  .hero-text {
    font-size: 1.5rem !important;
    white-space: nowrap;
    margin-top: -22rem;
  }

  .hero::before {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 47.1% !important;
  }

  .hero-countdown {
    width: 100%;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
  }

  .countdown-glass {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; /* pastikan konten tetap di atas */
    overflow: hidden; /* pastikan ::before tetap di dalam kotak */
    padding-bottom: 4rem;
    /* width: fit-content;
    margin-left: auto;
    margin-right: auto; */
  }

  .countdown-glass::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0; /* blur di belakang konten */
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    background: rgba(255, 255, 255, 0.1); /* buat glassy look */
    pointer-events: none;

    /* Ini gradasi blur makin hilang ke atas */
    mask-image: linear-gradient(to top, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to top, black 60%, transparent 100%);
  }

  .countdown-glass > * {
    position: relative;
    z-index: 1; /* konten tetap di atas blur */
  }

  .arti {
    /* padding: 35px 35px; */
    padding-top: 1.14rem;
    padding-left: 3.98rem;
    padding-right: 3.98rem;
    font-size: 1.36rem;
    text-shadow: var(--shadow);
    /* text-align: center; */
  }

  .qs {
    padding-top: 2.73rem;
    padding-bottom: 5.45rem;
    font-size: 1.36rem;
    font-style: italic;
  }

  .simply-countdown-cyber > .simply-section {
    padding: 60px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .simply-countdown-cyber .simply-amount {
    font-size: 3.7rem !important; /* diperbesar */
  }

  .simply-countdown-cyber .simply-word {
    font-size: 1.6rem !important; /* diperbesar */
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/avatar4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
  }

  .judul-text p {
    font-size: 1.5rem !important;
    white-space: nowrap;
    margin-top: 4rem;
  }

  .isi-text {
    position: absolute;
    bottom: 7rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
  }

  .popup-card h1 {
    font-size: 3.64rem !important;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    font-weight: bold;
    white-space: nowrap;
    /* overflow-x: hidden; */
  }

  .popup-card h2 {
    font-size: 1.82rem !important;
  }

  .popup-card h4 {
    font-size: 1.59rem;
  }

  .popup-card h3 {
    font-size: 1.82rem !important;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    font-weight: bold;
    white-space: nowrap;
    /* overflow-x: hidden; */
  }

  .popup-card p {
    font-size: 1.59rem;
    font-weight: bold;
  }

  .popup-card a {
    font-size: 1.82rem;
    margin-top: 30px !important;
  }

  .hero h1 {
    font-size: 2.73rem;
    /* margin-top: 23rem; */
    font-weight: bold;
  }

  .hero h2 {
    font-size: 2.27rem;
    /* margin-top: 10rem; */
    font-weight: bold;
  }

  .hero h3 {
    font-size: 1.59rem;
    /* margin-top: 4rem;
    margin-bottom: 4rem; */
  }

  .hero-text {
    font-size: 1.5rem !important;
    white-space: nowrap;
    margin-top: -22rem;
  }

  .hero::before {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 47.1% !important;
  }

  .hero-countdown {
    width: 100%;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
  }

  .countdown-glass {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; /* pastikan konten tetap di atas */
    overflow: hidden; /* pastikan ::before tetap di dalam kotak */
    padding-bottom: 4rem;
    /* width: fit-content;
    margin-left: auto;
    margin-right: auto; */
  }

  .countdown-glass::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0; /* blur di belakang konten */
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    background: rgba(255, 255, 255, 0.1); /* buat glassy look */
    pointer-events: none;

    /* Ini gradasi blur makin hilang ke atas */
    mask-image: linear-gradient(to top, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to top, black 60%, transparent 100%);
  }

  .countdown-glass > * {
    position: relative;
    z-index: 1; /* konten tetap di atas blur */
  }

  .arti {
    /* padding: 35px 35px; */
    padding-top: 1.14rem;
    padding-left: 3.98rem;
    padding-right: 3.98rem;
    font-size: 1.36rem;
    text-shadow: var(--shadow);
    /* text-align: center; */
  }

  .qs {
    padding-top: 2.73rem;
    padding-bottom: 5.45rem;
    font-size: 1.36rem;
    font-style: italic;
  }

  .simply-countdown-cyber > .simply-section {
    padding: 60px;
    margin: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 100%;
  }

  .simply-countdown-cyber .simply-amount {
    font-size: 5.2rem !important; /* diperbesar */
  }

  .simply-countdown-cyber .simply-word {
    font-size: 1.6rem !important; /* diperbesar */
  }

  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }
}

/* Mobile */
@media (max-width: 576px) {
  html {
    font-size: 58%;
  }

  .judul-text p {
    font-size: 1.5rem !important;
    white-space: nowrap;
    margin-top: 4rem;
  }

  .isi-text {
    position: absolute;
    bottom: 7rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
  }

  .popup-card h1 {
    font-size: 3.64rem !important;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    font-weight: bold;
    white-space: nowrap;
    /* overflow-x: hidden; */
  }

  .popup-card h2 {
    font-size: 1.82rem !important;
  }

  .popup-card h4 {
    font-size: 1.59rem;
  }

  .popup-card h3 {
    font-size: 1.82rem !important;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    font-weight: bold;
    white-space: nowrap;
    /* overflow-x: hidden; */
  }

  .popup-card p {
    font-size: 1.59rem;
    font-weight: bold;
  }

  .popup-card a {
    font-size: 1.82rem;
    margin-top: 30px !important;
  }

  .hero {
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 1.5rem;
  }

  .hero h1 {
    font-size: 2.73rem;
    /* margin-top: 23rem; */
    font-weight: bold;
  }

  .hero h2 {
    font-size: 2.27rem;
    /* margin-top: 10rem; */
    font-weight: bold;
  }

  .hero h3 {
    font-size: 1.59rem;
    /* margin-top: 4rem;
    margin-bottom: 4rem; */
  }

  .hero-text {
    font-size: 1.5rem !important;
    white-space: nowrap;
    margin-top: -22rem;
  }

  .hero::before {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 47.1% !important;
  }

  .hero-countdown {
    width: 100%;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
  }

  .countdown-glass {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; /* pastikan konten tetap di atas */
    overflow: hidden; /* pastikan ::before tetap di dalam kotak */
    padding-bottom: 4rem;
    /* width: fit-content;
    margin-left: auto;
    margin-right: auto; */
  }

  .countdown-glass::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0; /* blur di belakang konten */
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    background: rgba(255, 255, 255, 0.1); /* buat glassy look */
    pointer-events: none;

    /* Ini gradasi blur makin hilang ke atas */
    mask-image: linear-gradient(to top, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to top, black 60%, transparent 100%);
  }

  .countdown-glass > * {
    position: relative;
    z-index: 1; /* konten tetap di atas blur */
  }

  .arti {
    /* padding: 35px 35px; */
    padding-top: 1.14rem;
    padding-left: 3.98rem;
    padding-right: 3.98rem;
    font-size: 1.36rem;
    text-shadow: var(--shadow);
    /* text-align: center; */
  }

  .qs {
    padding-top: 2.73rem;
    padding-bottom: 5.45rem;
    font-size: 1.36rem;
    font-style: italic;
  }

  .simply-countdown-cyber {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    padding-bottom: 1rem;
    gap: 0.75rem;
    max-width: 100vw;
  }

  .simply-countdown-cyber > .simply-section {
    flex: 0 0 auto;
    width: 80px !important;
    height: 80px !important;
    padding: 2rem !important;
    margin: 0 4px;
    max-width: 100%;
  }

  .simply-countdown-cyber .simply-amount {
    font-size: 2.2rem !important; /* diperbesar */
  }

  .simply-countdown-cyber .simply-word {
    font-size: 0.8rem !important; /* diperbesar */
  }
}

/* Extra small devices (contoh: iPhone SE) */
@media (min-width: 400px) and (max-width: 430px) {
  html {
    font-size: 55%;
  }

  .judul-text p {
    font-size: 1.5rem !important;
    white-space: nowrap;
    margin-top: 4rem;
  }

  .isi-text {
    position: absolute;
    bottom: 7rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
  }

  .popup-card {
    min-height: 56.82rem !important;
  }

  .popup-card h1 {
    font-size: 3.64rem !important;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    font-weight: bold;
    white-space: nowrap;
    /* overflow-x: hidden; */
  }

  .popup-card h2 {
    font-size: 1.82rem !important;
  }

  .popup-card h4 {
    font-size: 1.59rem;
  }

  .popup-card h3 {
    font-size: 1.82rem !important;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    font-weight: bold;
    white-space: nowrap;
    /* overflow-x: hidden; */
  }

  .popup-card p {
    font-size: 1.59rem;
    font-weight: bold;
  }

  .hero h1 {
    font-size: 2.73rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-weight: bold;
  }

  .hero h2 {
    font-size: 2.27rem;
    margin-top: 4rem;
    font-weight: bold;
  }

  .hero h3 {
    font-size: 1.59rem;
    /* margin-top: 4rem; */
    margin-bottom: 4rem;
  }

  /* .hero {
    min-height: 100dvh;
    height: 100dvh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */

  .hero-text {
    font-size: 1.5rem !important;
    white-space: nowrap;
    margin-top: -22rem;
  }

  .hero::before {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 47.1% !important;
  }

  .hero-countdown {
    width: 100%;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
  }

  .countdown-glass {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; /* pastikan konten tetap di atas */
    overflow: hidden; /* pastikan ::before tetap di dalam kotak */
    padding-bottom: 4rem;
    /* width: fit-content;
    margin-left: auto;
    margin-right: auto; */
  }

  .countdown-glass::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0; /* blur di belakang konten */
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    background: rgba(255, 255, 255, 0.1); /* buat glassy look */
    pointer-events: none;

    /* Ini gradasi blur makin hilang ke atas */
    mask-image: linear-gradient(to top, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to top, black 60%, transparent 100%);
  }

  .countdown-glass > * {
    position: relative;
    z-index: 1; /* konten tetap di atas blur */
  }

  .arti {
    /* padding: 35px 35px; */
    padding-top: 1.14rem;
    padding-left: 3.98rem;
    padding-right: 3.98rem;
    font-size: 1.36rem;
    text-shadow: var(--shadow);
    /* text-align: center; */
  }

  .qs {
    padding-top: 2.73rem;
    padding-bottom: 5.45rem;
    font-size: 1.36rem;
    font-style: italic;
  }

  .popup-card a {
    font-size: 1.82rem;
    margin-top: 30px !important;
  }

  /* .simply-countdown-cyber {
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    gap: 0.75rem;
    max-width: 100vw;
  }

  .simply-countdown-cyber > .simply-section {
    flex: 0 0 auto;
    width: 75px !important;
    height: 75px !important;
    padding: 1.2rem !important;
    margin: 0 4px;
    max-width: 100%;
  } */

  .simply-countdown-cyber .simply-amount {
    font-size: 3rem !important; /* diperbesar */
  }

  .simply-countdown-cyber .simply-word {
    font-size: 1.2rem !important; /* diperbesar */
  }
  /* .popup-card {
    min-height: 480px;
  } */
}

@media (max-width: 390px) {
  html {
    font-size: 55%;
  }

  /* .popup-card {
    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 1.5rem;
  } */

  .judul-text p {
    font-size: 1.5rem !important;
    white-space: nowrap;
    margin-top: 4rem;
  }

  .isi-text {
    position: absolute;
    bottom: 7rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
  }

  .popup-card h1 {
    font-size: 3.64rem !important;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    font-weight: bold;
    white-space: nowrap;
    /* overflow-x: hidden; */
  }

  .popup-card h2 {
    font-size: 1.82rem !important;
  }

  .popup-card h4 {
    font-size: 1.59rem;
  }

  .popup-card h3 {
    font-size: 1.82rem !important;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    font-weight: bold;
    white-space: nowrap;
    /* overflow-x: hidden; */
  }

  .popup-card p {
    font-size: 1.59rem;
    font-weight: bold;
  }

  .popup-card a {
    font-size: 1.82rem;
    margin-top: 30px !important;
  }

  .hero h1 {
    font-size: 2.73rem;
    /* margin-top: 23rem; */
    font-weight: bold;
  }

  .hero h2 {
    font-size: 2.27rem;
    /* margin-top: 10rem; */
    font-weight: bold;
  }

  .hero h3 {
    font-size: 1.59rem;
    /* margin-top: 4rem;
    margin-bottom: 4rem; */
  }

  .hero-text {
    font-size: 1.5rem !important;
    white-space: nowrap;
    margin-top: -22rem;
  }

  .hero::before {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 47.1% !important;
  }

  .hero-countdown {
    width: 100%;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
  }

  .countdown-glass {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; /* pastikan konten tetap di atas */
    overflow: hidden; /* pastikan ::before tetap di dalam kotak */
    padding-bottom: 4rem;
    /* width: fit-content;
    margin-left: auto;
    margin-right: auto; */
  }

  .countdown-glass {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; /* pastikan konten tetap di atas */
    overflow: hidden; /* pastikan ::before tetap di dalam kotak */
  }

  .countdown-glass::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0; /* blur di belakang konten */
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    background: rgba(255, 255, 255, 0.1); /* buat glassy look */
    pointer-events: none;

    /* Ini gradasi blur makin hilang ke atas */
    mask-image: linear-gradient(to top, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to top, black 60%, transparent 100%);
  }

  .countdown-glass > * {
    position: relative;
    z-index: 1; /* konten tetap di atas blur */
  }

  .arti {
    /* padding: 35px 35px; */
    padding-top: 1.14rem;
    padding-left: 3.98rem;
    padding-right: 3.98rem;
    font-size: 1.36rem;
    text-shadow: var(--shadow);
    /* text-align: center; */
  }

  .qs {
    padding-top: 2.73rem;
    padding-bottom: 5.45rem;
    font-size: 1.36rem;
    font-style: italic;
  }

  /* .simply-countdown-cyber {
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    gap: 0.75rem;
    max-width: 100vw;
  }

  .simply-countdown-cyber > .simply-section {
    flex: 0 0 auto;
    width: 75px !important;
    height: 75px !important;
    padding: 1.2rem !important;
    margin: 0 4px;
    max-width: 100%;
  } */

  .simply-countdown-cyber .simply-amount {
    font-size: 3rem !important; /* diperbesar */
  }

  .simply-countdown-cyber .simply-word {
    font-size: 1.2rem !important; /* diperbesar */
  }
  .popup-card {
    min-height: 56.82rem !important;
  }
}

@media (min-width: 300px) and (max-width: 360px) {
  .hero {
    padding: 4rem 2rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .hero h1 {
    font-size: 2.73rem;
    /* margin-top: 23rem; */
    font-weight: bold;
  }

  .hero h2 {
    font-size: 2.27rem;
    /* margin-top: 10rem; */
    font-weight: bold;
  }

  .hero h3 {
    font-size: 1.59rem;
    /* margin-top: 4rem;
    margin-bottom: 4rem; */
  }

  .hero-text {
    font-size: 1.5rem !important;
    white-space: nowrap;
    margin-top: -22rem;
  }

  .hero::before {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: 47.1% !important;
  }

  .hero-countdown {
    width: 100%;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 2;
  }

  .countdown-glass {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; /* pastikan konten tetap di atas */
    overflow: hidden; /* pastikan ::before tetap di dalam kotak */
    padding-bottom: 4rem;
    /* width: fit-content;
    margin-left: auto;
    margin-right: auto; */
  }

  .countdown-glass {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1; /* pastikan konten tetap di atas */
    overflow: hidden; /* pastikan ::before tetap di dalam kotak */
  }

  .countdown-glass::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0; /* blur di belakang konten */
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    background: rgba(255, 255, 255, 0.1); /* buat glassy look */
    pointer-events: none;

    /* Ini gradasi blur makin hilang ke atas */
    mask-image: linear-gradient(to top, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to top, black 60%, transparent 100%);
  }

  .countdown-glass > * {
    position: relative;
    z-index: 1; /* konten tetap di atas blur */
  }

  .arti {
    /* padding: 35px 35px; */
    padding-top: 1.14rem;
    padding-left: 3.98rem;
    padding-right: 3.98rem;
    font-size: 1.36rem;
    text-shadow: var(--shadow);
    /* text-align: center; */
  }

  .qs {
    padding-top: 2.73rem;
    padding-bottom: 5.45rem;
    font-size: 1.36rem;
    font-style: italic;
  }

  .simply-countdown-cyber {
    display: flex;
    flex-wrap: nowrap; /* Tidak wrap */
    overflow-x: auto; /* Scroll horizontal jika sempit */
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem 0;
  }

  .simply-countdown-cyber > .simply-section {
    flex: 0 0 auto;
    width: 75px !important;
    height: 75px !important;
    padding: 1rem !important;
    margin: 0 2px;
  }

  .simply-countdown-cyber .simply-amount {
    font-size: 2.8rem !important;
  }

  .simply-countdown-cyber .simply-word {
    font-size: 1.3rem !important;
  }

  .hero a {
    margin: 1.5rem auto 0;
    font-size: 1.3rem;
    padding: 0.8rem 1.6rem;
  }
}
